fastapi
uvicorn
python-dotenv
google-genai
google-generativeai
google-cloud-speech
google-cloud-texttospeech
google-cloud-translate
google-cloud-firestore
google-cloud-storage
google-cloud-aiplatform==1.111.0
pytest
pydantic-settings
pydantic[email]
passlib[bcrypt]
pytest-asyncio
httpx
pytest-mock
pytest-cov
python-multipart
vertexai
python-jose
passlib
authlib
itsdangerous
langdetect==1.0.9
